
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{if eq .auth false}}
<form action="{{url "App.Login"}}" method="post">
  
  <label for="email">Email</label>
  <input type="email" name="email" id="email">
  
  <label for="password">Password</label>
  <input type="password" name="password" id="password">

  <label for="remember"><input type="checkbox" name="remember" value="true" id="remember"> Remember Me</label>
  <input type="submit" value="login">
</form>
{{end}}

{{template "footer.html" .}}