{{set . "title" "Register"}}
{{template "header.html" .}}

<h1>Register</h1>

<form action="{{url "App.SaveUser"}}" method="post">

  {{with $field := field "user.Email" .}}
    <label for="{{$field.Name}}">Email</label>
    <input type="email" name="{{$field.Name}}" value="{{$field.Flash}}">
    <span>{{$field.Error}}</span>
  {{end}}
  {{with $field := field "user.Name" .}}
    <label for="{{$field.Name}}">Name</label>
    <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}">
    <span>{{$field.Error}}</span>
  {{end}}
  {{with $field := field "user.Password" .}}
    <label for="{{$field.Name}}">Password</label>
    <input type="password" name="{{$field.Name}}" value="{{$field.Flash}}">
    <span>{{$field.Error}}</span>
  {{end}}
  {{with $field := field "verifyPassword" .}}
    <label for="{{$field.Name}}">Verify Password</label>
    <input type="password" name="{{$field.Name}}" value="{{$field.Flash}}">
    <span>{{$field.Error}}</span>
  {{end}}
   <input type="submit" value="Register" class="btn btn-primary">  
</form>

{{template "footer.html" .}}